.titulo{
	color: $color-tipografias;
	font-size:30px;
	font-weight: bold;
	span{
		color:$color-fechas;
	}
}
.titulo2{
	border-bottom: $borde-seccion;
	color: $color-tipografias;
	font-weight: bold;
	font-size:18px;
	margin-bottom: 10px;
}
.nav-wrapper{
	background-color: $fondo;
	border-bottom: $borde-seccion;
	a{
		color: $color-tipografias;
	}
	a:hover{
		border-bottom: $borde-palabra;
	}
}
.fondo, .fondo2, .fondo3, .fondo4{
	margin: 5px;
}
.fondo{
	@extend .fondog;
	background-image: url(../img/1.png);
	height: 330px;
}
.fondo2{
	@extend .fondog;
	background-image: url(../img/6.png);
	height: 210px;
}
.fondo3{
	@extend .fondog;
	background-image: url(../img/13.png);
	height:105px;
}
.fondo4{
	@extend .fondog;
	background-image: url(../img/4-1.png);
	height: 105px;
}
.fondo5{
	@extend .fotop;
	background-image: url(../img/5-1.png);
}
.fondo6{
	@extend .fotop;
	background-image: url(../img/6-1.png);
}
.fondo7{
	@extend .fotop;
	background-image: url(../img/3.png);
}
.fondo8{
	@extend .fotop;
	background-image: url(../img/8.png);
}
.fondolife{
	@extend .fondog;
	background-image: url(../img/24.png);
	height:180px;
	margin-top: 5px;
}
.fotos{
	margin-top:10px;
}
section{
	margin-top:40px;
}
//estrellas
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;

  span{
  	color:$color-tipografias;
  }
}
.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   position: absolute;
   color:$color-fechas;
}